<div class="fixed-player-area">
    <div class="fixed-player-container">
        <div id="fixed-player"></div>
    </div>
</div>
<main class="page-wrapper">
    <div class="theater">
        <div class="top-section">
            <img class="bg-img" src="" alt="">
            <div class="video-container-dummy"></div>
            <div id="main-video-container">
                <div id="main-video" data-video-id="{{main_id}}"></div>
            </div>
            <div id="secondary-video-container">
                <div id="secondary-video" data-video-id="{{main_id}}"></div>
            </div>
        </div>
        <div class="more-videos">
            <div class="playlist-videos">
            {{#each videos}}
                <div class="next-video" data-video-id="{{data_id}}">
                    <div class="next-video-bg"></div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>
    <article class="article">
        <p><em>This is the final episode in a Bits video series, called Robotica, examining how robots are poised to change the way we do business and conduct our daily lives.</em></p>
        <p>TOKYO — They didn’t shed, chew the sofa or bite the postman, but for thousands of people Sony’s Aibo robotic dog was the closest thing to a real canine companion. So when the Japanese company stopped servicing the robots last year, eight years after it ended production, owners faced a wrenching prospect: that their aging “pets” would break down for good.</p>
        <p>Sony introduced the Aibo in 1999, at a price of 250,000 yen (about $2,000 at current exchange rates). The beaglelike robots could move around, bark and perform simple tricks. Sony sold 150,000 units through 2006; the fifth and final generation was said to be able to express 60 emotional states.</p><p>The Aibo fell victim to company restructuring, as Sony sought to refocus on more profitable businesses. Still, Sony continued to repair Aibos until March of last year. But by then spare parts were becoming too scarce, the company said, forcing it to end the service and turn owners away. —Jonathan Soble</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </article>
    <div class="more-videos-below">
        <div class="playlist-videos">
        {{#each videos}}
            <div class="next-video" data-video-id="{{data_id}}">
                <div class="next-video-bg"></div>
            </div>
        {{/each}}
        </div>
    </div>
</main>
