<div class="title">{{video.headline}}</div>
<div class="description">{{video.summary}}</div>
<div class="duration">{{video.video.duration}}</div>
<div class="stillsmaybe">{{video.promotional_media.image.image_crops.videoSixteenByNine540.url}}</div>
